
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<center><h1>Register</h1></center>
<div class="container">
    <form th:action="@{/save}" th:object="${userDto}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3">
            <label class="form-label">First Name</label>
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
            <input type="text" class="form-control" th:field="*{firstName}">
        </div>
        <div class="mb-3">
            <label class="form-label">Last name</label>
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
            <input type="text" class="form-control" th:field="*{lastName}">
        </div>
        <div class="mb-3">
            <label class="form-label">Age</label>
            <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
            <input type="text" class="form-control" th:field="*{age}">
        </div>
        <div class="mb-3">
            <label class="form-label">Phone number</label>
            <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
            <input type="text" class="form-control" th:field="*{phone}">
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            <input type="text" class="form-control" th:field="*{email}">
        </div>
        <input type="submit" class="btn btn-outline-primary" value="Create">
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>