<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Edit Customer</h3>
<h4>
    <a th:href="@{/customer}">
        Back to Customer list
    </a>
</h4>
<div id="form">
    <form action="#" th:action="@{/customer/edit}" th:object="${customerList}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Day Of Birth</label>
            <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></p>
            <input type="date" th:field="*{dateOfBirth}" style="width: 100%;height:100%;"/>
        </div>
        <div>
            <label>Gender</label>
            <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>
            <input class="form-check-input" type="radio" th:field="*{gender}" value="0">Nữ
            <input class="form-check-input" type="radio" th:field="*{gender}" value="1">Nam
            <input class="form-check-input" type="radio" th:field="*{gender}" value="2">Khác
        </div>
        <div>
            <label>Id Card</label>
            <p th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></p>
            <input type="text" th:field="*{idCard}"/>
        </div>
        <div>
            <label>Phone</label>
            <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
            <input type="text" th:field="*{phone}"/>
        </div>
        <div>
            <label>Email</label>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            <input type="text" th:field="*{email}"/>
        </div>
        <div>
            <label>Address</label>
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
            <input type="text" th:field="*{address}"/>
        </div>
        <div>
            <label>Customer Type</label>
            <select th:field="*{customerType}" style="width: 100%;height:100%;">
                <option th:each="type: ${customerType}"
                        th:value="${type.id}" th:text="${type.name}"></option>
            </select>
        </div>
        <input type="submit" value="edit"/>
    </form>
</div>
<footer th:replace="/layout :: footer">
</footer>
</body>
</html>