<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>

<h3>Add Category</h3>
<p>
    <a th:href="@{/listcategory}">
        Back to CategoryList
    </a>
</p>
<div id="form">
    <form th:action="@{/savecategory}" th:object="${category}" method="POST">
        <input type="hidden" th:field="*{categoryId}"/>
        <div>
            <label>Name</label>
            <input required type="text" th:field="*{categoryName}"/>
        </div>

        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer">
</footer>
</body>
</html>