<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>

<h3>Add Product</h3>
<p>
    <a th:href="@{/list}">
        Back to ProductList
    </a>
</p>
<div id="form">
    <form th:action="@{/save}" th:object="${product}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input required type="text" th:field="*{productName}"/>
        </div>
        <div>
            <label>Price</label>
            <input required type="text" th:field="*{productPrice}"/>
        </div>
        <div>
            <label>Producer</label>
            <input required type="text" th:field="*{producer}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>

<footer th:replace="/layout :: footer">
</footer>
</body>
</html>