<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://thymeleaf.org">-->
<!--<head>-->

<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<table border="1" >-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>NAME</th>-->
<!--        <th>PERSON</th>-->
<!--        <th>RENT</th>-->
<!--        <th>LINK</th>-->
<!--    </tr>-->
<!--    <tr th:each="items: ${player}">-->
<!--        <td th:text="${items.id}"></td>-->
<!--        <td th:text="${items.musicName}"></td>-->
<!--        <td th:text="${items.personName}"></td>-->
<!--        <td th:text="${items.rentMusic}"></td>-->
<!--        <td th:text="${items.link}"></td>-->
<!--    </tr>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" \
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<h3>Player</h3>

<p>
    <a th:href="@{/create}">
        Add new player
    </a>
</p>

<table id="products" class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PERSON</th>
        <th>RENT</th>
        <th>LINK</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${player}">
        <td th:text="${row.getId()}"></td>
        <td th:text="${row.getMusicName()}"></td>
        <td th:text="${row.getPersonName()}"></td>
        <td th:text="${row.getRentMusic()}"></td>
        <td th:text="${row.getLink()}"></td>
        <td><a th:href="@{/update(id=${row.id})}">edit</a></td>
        <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    th:data-bs-target="'#staticBackdrop' + ${row.id}">
                Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" th:id="staticBackdrop + ${row.id}" data-bs-backdrop="static"
                 data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Do you want delete product <span class="text-info" th:text="${row.musicName}"></span>
                            with id = <span class="text-info" th:text="${row.id}"></span>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{/delete(id=${row.id})}" class="btn btn-outline-success">Delete</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>

    </tr>
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>