<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" \
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style>
        td {
            color: gold !important;
        }
    </style>
</head>
<body>
<center>
    <div>
        <span style="font-family: Papyrus;font-size: 50px;color: saddlebrown">Hello: </span>
        <span style="font-family: Papyrus;font-size: 50px;color: gold" sec:authentication="principal.username"></span>
    </div>
</center>
<h3>Employee</h3>
<div id="search">
    <form th:action="@{/employee}">
        <input style="border-radius: 10px"
               type="text"
               placeholder="Input Search Name" name="name">
        <input style="border-radius: 10px"
               type="submit" value="search">
    </form>
</div>
<p>
<h3>
    <button style="border-radius: 10px">
        <a style="text-decoration: none" th:href="@{/}">
            <img width=" 40 40" src="https://cdn-icons-png.flaticon.com/512/6396/6396585.png">
            Home
        </a>
    </button>
</h3>

</p>
<table sec:authorize="hasAnyRole('admin','user')" id="products" class="table table-hover">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Day Of Birth</th>
        <th>Id Card</th>
        <th>Salary</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Position</th>
        <th>Education Degree</th>
        <th>Division</th>
        <th sec:authorize="hasRole('admin')">Edit</th>
        <th sec:authorize="hasRole('admin')">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e,rowStar: ${employee}">
        <td th:text="${rowStar.count+ 3 * employee.number}"></td>
        <td th:text="${e.getName()}"></td>
        <td th:text="${e.getDateOfBirth()}"></td>
        <td th:text="${e.getIdCard()}"></td>
        <td th:text="${e.getSalary()}"></td>
        <td th:text="${e.getPhone()}"></td>
        <td th:text="${e.getEmail()}"></td>
        <td th:text="${e.getAddress()}"></td>
        <td th:text="${e.getPosition().getName()}"></td>
        <td th:text="${e.getEducationDegree().getName()}"></td>
        <td th:text="${e.getDivision().getName()}"></td>
        <td sec:authorize="hasRole('admin')">
            <button type="button" class="btn btn-outline-danger">
                <a style="color: red;text-decoration: none" th:href="@{/employee/update(id=${e.id})}">Edit</a>
            </button>
        </td>

        <!-- Xóa Modal-->
        <td sec:authorize="hasRole('admin')">
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    th:data-bs-target="'#staticBackdrop' + ${e.id}"> Delete
            </button>

            <div class="modal fade" th:id="staticBackdrop + ${e.id}" data-bs-backdrop="static"
                 data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Do you want delete Employee <span class="text-info" th:text="${e.name}"></span>
                            with id = <span class="text-info" th:text="${e.id}"></span>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{/employee/delete(id=${e.id})}" class="btn btn-outline-success">Delete</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--modal them-->
            <div class="modal fade" th:id="staticBackdropCreate" data-bs-backdrop="static"
                 data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabelCreate">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body p-3 mb-2 bg-primary text-white " >
                            <div>
                                <form th:action="@{/employee/save}" th:object="${employeeCreate}" method="POST">
                                    <input type="hidden" th:field="*{id}"/>
                                    <div>
                                        <label>Name</label>
                                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                                        <input required type="text" th:field="*{name}"/>
                                    </div>
                                    <div>
                                        <label>Day Of Birth</label>
                                        <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></p>
                                        <input required type="date" th:field="*{dateOfBirth}"
                                               style="width: 100%;height:100%;"/>
                                    </div>
                                    <div>
                                        <label>Id Card</label>
                                        <p th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></p>
                                        <input required type="text" th:field="*{idCard}"/>
                                    </div>
                                    <div>
                                        <label>Salary</label>
                                        <p th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></p>
                                        <input required type="text" th:field="*{salary}"/>
                                    </div>
                                    <div>
                                        <label>Phone</label>
                                        <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                                        <input required type="text" th:field="*{phone}"/>
                                    </div>
                                    <div>
                                        <label>Email</label>
                                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                                        <input type="text" th:field="*{email}"/>
                                    </div>
                                    <div>
                                        <label>Address</label>
                                        <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                                        <input required type="text" th:field="*{address}"/>
                                    </div>
                                    <div>
                                        <label>Position</label>
                                        <select th:field="*{position}" style="width: 100%;height:100%;">
                                            <option th:each="position: ${position}"
                                                    th:value="${position.id}" th:text="${position.name}"></option>
                                        </select>
                                    </div>
                                    <div>
                                        <label>EducationDegree</label>
                                        <select th:field="*{educationDegree}" style="width: 100%;height:100%;">
                                            <option th:each="educationDegree: ${educationDegree}"
                                                    th:value="${educationDegree.id}"
                                                    th:text="${educationDegree.name}"></option>
                                        </select>
                                    </div>
                                    <div>
                                        <label>Division</label>
                                        <select th:field="*{division}" style="width: 100%;height:100%;">
                                            <option th:each="division: ${division}"
                                                    th:value="${division.id}" th:text="${division.name}"></option>
                                        </select>
                                    </div>

                                    <div class="modal-footer">
                                        <input class="btn btn-outline-success" type="submit" value="Create">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>

    </tr>
    </tbody>
</table>
<center>
    <h3 sec:authorize="hasRole('admin')">
        <button style="border-radius: 10px " type="button" class="btn btn-outline-danger"
                data-bs-toggle="modal"
                th:data-bs-target="'#staticBackdropCreate'">
            <img width="35 35" src="https://cdn-icons-png.flaticon.com/512/1387/1387940.png"> Create
        </button>
    </h3>
    <a style="color: darkorange;font-weight: bold;font-size: 20px"
       th:href="@{'/employee'(page=${employee.number - 1},name = ${name})}"
       th:if="${employee.hasPrevious()}">Previous</a>
    <span th:text="${employee.number + 1}"></span>/<span th:text="${employee.totalPages}"></span>
    <a style="color: darkorange;font-weight: bold;font-size: 20px"
       th:href="@{'/employee'(page=${employee.number + 1},name = ${name})}" th:if="${employee.hasNext()}">Next</a>
</center>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>