<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" \
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <style>
        td {
            color: gold !important;
        }
    </style>
</head>
<body>
<center>
    <div>
        <span style="font-family: Papyrus;font-size: 50px;color: saddlebrown">Hello: </span>
        <span style="font-family: Papyrus;font-size: 50px;color: gold" sec:authentication="principal.username"></span>
    </div>
</center>
<h3>Facility</h3>
<div id="search">
    <form th:action="@{/facility}">
        <input style="border-radius: 10px"
               type="text" placeholder="Input Search Name" name="name">
        <input style="border-radius: 10px"
               type="submit" value="search">
    </form>
</div>
<p>
<h3>
    <button style="border-radius: 10px">
        <a style="text-decoration: none" th:href="@{/}">
            <img width=" 40 40" src="https://cdn-icons-png.flaticon.com/512/6396/6396585.png">
            Home
        </a>
    </button>
</h3>

</p>
<table id="products" class="table table-hover">
    <thead>
    <tr>
        <th>Stt</th>
        <th>Tên</th>
        <th>Diện tích</th>
        <th>Tiền cọc</th>
        <th>Số người tối đa</th>
        <th>Tiêu chuẩn phòng</th>
        <th>Mô tả</th>
        <th>Diện tích hồ bơi</th>
        <th>Số tầng</th>
        <th>Dịch vụ free</th>
        <th>Loại dịch vụ</th>
        <th>Kiểu thuê</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e,rowStar: ${facilityList}">
        <td th:text="${rowStar.count + 3 * facilityList.number}"></td>
        <td th:text="${e.getName()}"></td>
        <td th:text="${e.getArea()}"></td>
        <td th:text="${e.getCost()}"></td>
        <td th:text="${e.getMaxPeople()}"></td>
        <td th:text="${e.getStandardRoom()}"></td>
        <td th:text="${e.getDescription()}"></td>
        <td th:text="${e.getPoolArea()}"></td>
        <td th:text="${e.getNumberFloor()}"></td>
        <td th:text="${e.getFacilityFree()}"></td>
        <td th:text="${e.getFacilityType().getName()}"></td>
        <td th:text="${e.getRentType().getName()}"></td>
        <td>
            <button type="button" class="btn btn-outline-danger">
                <a style="color: red;text-decoration: none" th:href="@{/facility/update(id=${e.id})}">Edit</a>
            </button>
        </td>
        <!-- Xóa Modal-->
        <td>
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    th:data-bs-target="'#staticBackdrop' + ${e.id}"> Delete
            </button>

            <div class="modal fade" th:id="staticBackdrop + ${e.id}" data-bs-backdrop="static"
                 data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Do you want delete Employee <span class="text-info" th:text="${e.name}"></span>
                            with id = <span class="text-info" th:text="${e.id}"></span>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{/facility/delete(id=${e.id})}" class="btn btn-outline-success">Delete</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<center>
    <h3>
        <button style="border-radius: 10px">
            <a style="text-decoration: none" th:href="@{/facility/create}">
                <img width="40 40" src="https://cdn-icons-png.flaticon.com/512/1387/1387940.png">Create</a>
        </button>
    </h3>

    <a style="color: darkorange;font-weight: bold;font-size: 20px"
       th:href="@{'/facility'(page=${facilityList.number - 1},name = ${name})}"
       th:if="${facilityList.hasPrevious()}">Previous</a>
    <span th:text="${facilityList.number + 1}"></span>/<span th:text="${facilityList.totalPages}"></span>
    <a style="color: darkorange;font-weight: bold;font-size: 20px"
       th:href="@{'/facility'(page=${facilityList.number + 1},name = ${name})}"
       th:if="${facilityList.hasNext()}">Next</a>
</center>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>