<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>

<h3>Add Customer</h3>
<p>
    <a th:href="@{/index}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form th:action="@{/save}" th:object="${product}"
          method="POST">
        <input type="hidden" th:field="*{productId}"/>
        <div>
            <label>Name</label>
            <input required type="text" th:field="*{productName}"/>
        </div>
        <div>
            <label>Price</label>
            <input required pattern="[0-9]+([\.][0-9]{0,2})?" type="text" th:field="*{productPrice}"/>
        </div>
        <div>
            <label>Description</label>
            <input required type="text" th:field="*{productDescription}"/>
        </div>
        <div>
            <label>Producer</label>
            <input required type="text" th:field="*{producer}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>

<footer th:replace="/layout :: footer">
</footer>
</body>
</html>