<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" \
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div class="notify">
    <div th:if="${success}">
        <!--/*@thymesVar id="success" type="com"*/-->
        <span th:text="${success}"></span>
    </div>

    <div th:if="${products.size()==0}" style="color: blue"> Khong tim thay !</div>

</div>
<h3>Product</h3>
<div id="search">
    <form th:action="@{/search}">
        <input type="text" placeholder="Input Search Name" name="name">
        <input type="submit" value="search">
    </form>
</div>

<p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropCreate">
        Create
    </button>

    <!-- Modal -->
<div class="modal fade" id="staticBackdropCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabelCreate">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/save}" th:object="${product}"
                  method="POST">
                <div class="modal-body">

                    <input type="hidden" th:field="*{productId}"/>
                    <div>
                        <label>Name</label>
                        <input required type="text" class="form-control" th:field="*{productName}"/>
                    </div>
                    <div>
                        <label>Price</label>
                        <input required pattern="[0-9]+([\.][0-9]{0,2})?" type="text" class="form-control" th:field="*{productPrice}"/>
                    </div>
                    <div>
                        <label>Description</label>
                        <input required type="text" class="form-control" th:field="*{productDescription}"/>
                    </div>
                    <div>
                        <label>Producer</label>
                        <input required type="text" class="form-control" th:field="*{producer}"/>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-outline-success" value="Save"/>
                </div>
            </form>
        </div>
    </div>
</div>
</p>


<table id="products" class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Producer</th>
        <th>Edit</th>
        <th>View</th>
        <th>Delete</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${products}">
        <td th:text="${row.getProductId()}"></td>
        <td th:text="${row.getProductName()}"></td>
        <td th:text="${row.getProductPrice()}"></td>
        <td th:text="${row.getProductDescription()}"></td>
        <td th:text="${row.getProducer()}"></td>
        <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    th:data-bs-target="'#staticBackdropEdit' + ${row.productId}">
                Edit
            </button>

            <!-- Modal -->
            <div class="modal fade" th:id="staticBackdropEdit + ${row.productId}" data-bs-backdrop="static"
                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabelEdit">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/edit" method="post">
                        <div class="modal-body">
                                <div class="container-fluid">
                                    <input type="hidden" class="form-control" name="id" th:value="${row.productId}"/>
                                    <label>Name</label>
                                    <input required type="text" class="form-control" name="name" th:value="${row.productName}"/>
                                    <label>Price</label>
                                    <input required pattern="[0-9]+([\.][0-9]{0,2})?" type="text"
                                           th:value="${row.productPrice}" name="price" class="form-control" />
                                    <label>Description</label>
                                    <input required type="text" class="form-control" name="description" th:value="${row.productDescription}"/>
                                    <label>Producer</label>
                                    <input required type="text" class="form-control" name="producer" th:value="${row.producer}"/>
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" th:data-bs-target="'#staticBackdropView' + ${row.productId}">
                View
            </button>

            <!-- Modal -->
            <div class="modal fade" th:id="'staticBackdropView' + ${row.productId}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabelView">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th>Producer</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${row.productId}"></td>
                                    <td th:text="${row.productName}"></td>
                                    <td th:text="${row.productPrice}"></td>
                                    <td th:text="${row.productDescription}"></td>
                                    <td th:text="${row.producer}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    th:data-bs-target="'#staticBackdrop' + ${row.productId}">
                Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" th:id="'staticBackdrop' + ${row.productId}" data-bs-backdrop="static"
                 data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Do you want delete product <span class="text-info" th:text="${row.productName}"></span>
                            with id = <span class="text-info" th:text="${row.productId}"></span>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{/delete(id=${row.productId})}"
                               class="btn btn-outline-success">Delete</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>