<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" \
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<h3>Hello</h3>
<div id="search">
    <form th:action="@{/tintuc}">
        <input style="border-radius: 10px"
               type="text" placeholder="Input Search Name" name="name">
        <input style="border-radius: 10px"
               type="submit" value="search">
    </form>
</div>
<p>
<h3>
    <button style="border-radius: 10px">
        <a style="text-decoration: none" th:href="@{/}">
            <img  width=" 40 40" src="https://cdn-icons-png.flaticon.com/512/6396/6396585.png">
            Home
        </a>
    </button>
</h3>

</p>
<table id="products" class="table table-hover">
    <thead>
    <tr>
        <th>STT</th>
        <th>Tieu De</th>
        <th>Danh Muc</th>
        <th>Ngay Dang tin</th>
        <th>Phong Vien</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c,rowStar: ${tintuc}">
        <td th:text="${rowStar.count+3*tintuc.number}"></td>
        <td th:text="${c.getTieuDe()}"></td>
        <td th:text="${c.danhMuc.getName()}"></td>
        <td th:text="${c.getNgayDangTin()}"></td>
        <td th:text="${c.getPhongVien()}"></td>

        <td>
            <button type="button" class="btn btn-outline-danger">
                <a style="color: red;text-decoration: none" th:href="@{/tintuc/update(id=${c.id})}">XEM CHI TIET</a>
            </button>
        </td>
        <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    th:data-bs-target="'#staticBackdrop' + ${c.id}">
                Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" th:id="staticBackdrop + ${c.id}" data-bs-backdrop="static"
                 data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Do you want delete Tin tuc <span class="text-info" th:text="${c.tieuDe}"></span>
                            with id = <span class="text-info" th:text="${c.id}"></span>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{/tintuc/delete(id=${c.id})}" class="btn btn-outline-success">Delete</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<center>
    <h3>
        <button style="border-radius: 10px">
            <a style="text-decoration: none" th:href="@{/tintuc/create}">
                <img width="40 40" src="https://cdn-icons-png.flaticon.com/512/1387/1387940.png">Create</a>
        </button>
    </h3>
    <a style="color: darkorange;font-weight: bold;font-size: 20px" th:href="@{'/tintuc'(page=${tintuc.number - 1},name=${name})}" th:if="${tintuc.hasPrevious()}">Previous</a>
    <span th:text="${tintuc.number + 1}"></span>/<span th:text="${tintuc.totalPages}"></span>
    <a  style="color: darkorange;font-weight: bold;font-size: 20px" th:href="@{'/tintuc'(page=${tintuc.number + 1},name=${name})}" th:if="${tintuc.hasNext()}">Next</a>
</center>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>